.courses {
    padding: 20px;
  }
  
  .courses h1 {
    color: #004080;
  }
  
  .courses ul {
    list-style-type: none;
    padding: 0;
  }
  
  .courses ul li {
    font-size: 18px;
    margin: 5px 0;
  }
  